@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');


:root{
    --background-color:#FBFBFB;
    --green-background-color:#153E52;
    --dark-green-color:#113448;
    --light-green-color:#14BF98;
    --dark-grey-color:#484a46;
    --light-grey-color:#787976;
    --white-color:#FFFFFF;
    --disabled-color:#E9ECEF;
    --dark-white-color:#DFE5EC;
    --light-grey-border-color:#EBEBE8;
    --form-input-background-color:#2A5D77;
    --form-input-border-color: #39728f;
    --image-contrast:60%;
    --image-greyscale:25%;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6, span,button,li,input,textarea,label,select,option{
  font-family: 'open sans',sans-serif; 
  margin-top: 0;
  padding: 0; 
}

button {
  cursor: pointer;
  border:1px solid var(--light-green-color) ;
  background-color: var(--light-green-color);
  color: var(--white-color);
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: all 0.125s ease-in-out ;
  font-weight: 700;
  letter-spacing: 0.3ch;
  font-size: 0.75rem;
}

button:hover {
  background-color: transparent;
  color: var(--light-green-color);
}


.section-title{
  color: var(--light-green-color);
  text-transform: uppercase;
  padding: 1rem;
}
.italic{
  font-style:italic ;
}
.underline{
  text-decoration: underline;
}
nav{
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 3rem;
  box-sizing: border-box;
  align-items: center;
  color: var(--white-color);
  z-index: 100;
  backdrop-filter:blur(10px) grayscale(var(--image-greyscale))contrast var((--image-contrast)) ;
}
nav a{
  text-decoration: none;
  color:var(--white-color);
  transition: color 0.125s ease-in-out;
}
nav a:visited{
  color:var(--white-color);
}
nav a:hover{
  color: var(--light-green-color);
}
nav img{
  height:5rem ;
  
}
nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

}
nav ul .icon{
  background-color: var(--light-green-color);
  padding: 0.75rem;
  cursor: pointer;
  clip-path: polygon(0 25%, 0 75%, 50% 100%,100% 75%,100% 25%,50% 0%);
}
nav ul .icon:hover{
  background-color: var(--white-color);
  
}
nav ul .icon:hover a{
  color: var(--light-green-color);
}
.home{
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url('./home.jpg');
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:var(--white-color) ;
  /*gap: 1.5rem;*/
}
.home h1{
  text-transform: uppercase;
  font-size: 3.5rem;
  /*padding: 0.5rem 0;*/
}
.home p{
  font-size: 1.5rem;
  width: 80s;
}
.intro{
  padding: 3rem 20vw;
  background-color: var(--white-color);
}
.intro .content{
   display: flex;
   flex-direction: row;
   gap: 2rem;
}
.intro .content .text{
  width: 60%;
  flex-shrink: 0;
  padding-right: 2rem;
  box-sizing: border-box;
}
.intro .content .text h3{
  color: var(--dark-grey-color);
  font-size: 2rem;

}
.intro .content .text p{
  color: var(--light-grey-color);
  font-weight: 100;
  line-height: 1.5rem;
  
}

.intro .content .text h4{
   color: var(--dark-grey-color);
   line-height: 1.5rem;
   font-weight: 200;
   font-style: italic;
  
}
.intro .content .image-container{
  width: 40%;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 5px;
  filter: grayscale(25%);
  cursor: pointer;
}
.intro .content img{
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.5s ease-in-out;
}
.intro .content img:hover{
  transform: scale(1.5rem);
}
#bold{
 color: black; 
}
.intro .skill-list-container{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5rem;
}
.intro.skill-list-container .skill-item{
  width: 30%;
  line-height: 1.5rem;
}
.intro .skill-list-container .skill-item h4{
  font-size: 1.5rem;
  color: var(--dark-grey-color);
}
.intro .skill-list-container .skill-item p{
  color: var(--light-grey-color);
}

.services{
  padding: 5rem 0;
}

.services > span{
  display: block;
  text-align: center;
}

.services > h3{
  text-align: center;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: var(--dark-grey-color); 
}
.services .service-list-container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 3rem 20vw;
  align-items: start;
}

.services .service-list-container .service-item{
  width: 30%;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--light-grey-border-color);
  border-radius: 5px;
  background-color: var(--white-color);
}
.services .service-item img{
  width: 100%;
  height: 15rem;
  object-fit: cover;
  object-position:center ;
  filter: grayscale(50%) brightness(50%);
  border-radius: 5px 5px 0 0;
}
.services .service-item h4{
  text-align: center;
  font-size: 1.5rem;
  color: var(--dark-grey-color);
  padding: 0.5rem 2rem;
}
.services .service-item p{
  line-height: 1.5rem;
  color: var(--light-grey-color);
  padding: .5rem 2rem;
}
.services .service-item ul{
  line-height: 1 rem;
  color: var(--light-grey-color);
  padding: 0.5rem 2rem;
  list-style-type: none;
}
.services .service-item ul li::before{
  content: '\25a0';
  color: var(--dark-green-color);
  margin-right: 5px;
  font-size: 1.5rem;
}
.services .service-item h6{
  font-size: 1.2rem;
  color: var(--dark-grey-color);
  text-align: center;
  padding: 0.5rem 2rem;
}
.services .service-item button{
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%,50%);
}
.services .service-item button:hover{
  background-color: var(--white-color);
} 

.services .propositions{
  display: flex;
  flex-direction: row;
  background-color: var(--white-color);
}
.services .propositions img{
  width: 50%;
  filter: grayscale(var(--image-greyscale))contrast(var(--image-contrast));
  height: 35rem;
  object-fit: cover;
  object-position: center;
}
.services .propositions .content{
  width: 50%;
  flex-shrink: 0;
  box-sizing: border-box;
}
.services .propositions-1 .content{
  padding: 5rem 5rem  5rem 20vw ;
 
}
.services .propositions-2 .content{
  padding: 5rem 5rem  5rem 20vw;
 
}
.services .propositions h3{
  font-size: 1.7rem;
  color: var(--dark-grey-color);
}
.services .propositions p{
  line-height: 1.5rem;
  color: var(--light-grey-color);
}
 .services .testimonials{
  padding: 5rem 20vw;
 }
 .services .testimonials h3{
   color: var(--dark-grey-color);
   text-align: center;
   font-size: 1.75rem;
 }
 .services .testimonials p{
   color: var(--light-grey-color);
   text-align: center;
 }
 .services .testimonial-list-container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow: scroll;
  padding: 3rem 0;
 }
 .services .testimonial-item{
  width: 25%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
 }
 .services .testimonial-item img{
  width: 6rem;
  border-radius: 50%;
 }
 .services .testimonial-item p{
  line-height: 1.5rem;
  color: var(--light-grey-color);
 }
 .services .testimonial-item h4{
  color: var(--dark-grey-color);
 }
 .call_me{
   padding: 5rem 20vw;
   background-color: var(--green-background-color);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }
 .call_me .content,.call_me .form{
  width: 45%;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--white-color);
 }
 .call_me .content h3{
  font-size: 1.25rem;
 }
 .call_me .content p{
  line-height: 1.5rem;
  color: var(--light-grey-border-color);
 }
 .call_me .content ul{
   padding: 0;
   list-style-type: none;
 }
 .call_me .content ul li::before{
  content: '\25a0';
  color: var(--light-green-color);
  margin-right: 5px;
  font-size: 1.25rem;
 }
 .call_me form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
 }
 .call_me form .term-container label{
  color: var(--light-grey-border-color);
 }
 .call_me form input, .call_me select{
  background-color: var(--form-input-background-color);
  color: var(--white-color);
  border: 1px solid var(--form-input-border-color);
  padding: .75rem 1.5rem;
  border-radius: 5px;
 }
 .projects{
  padding: 5rem 20vw;
  background-color: var(--white-color);
 }
 .projects >span .projects > h3{
  display: block; 
  text-align: center;
 }
 .projects > h3{
  color: var(--dark-grey-color);
  font-size: 1.75rem;
 }
 .projects .category-list-conatiner ul{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  overflow-x: scroll;
  padding: 3rem 0 1rem;
  list-style-type: none;
 }
 .projects .category-list-conatiner ul button{
  background-color: var(--light-grey-border-color);
  color: var(--dark-grey-color);
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
 }
 .projects .category-list-conatiner ul button:hover,.projects .category-list-conatiner ul button.active{
  background-color: var(--light-green-color);
  color: var(--white-color);
 }
 .projects .Project-list-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  margin-bottom: 3rem ; 
}
 .projects .Project-list-container .projects-item{
aspect-ratio: 1/1;
background-size: cover;
background-position: center;

 }
 .projects .projects-item.p-1{
  background-image: url('./images/travelbag.jpg');
 } 
 .projects .projects-item.p-2{
  background-image: url('./images/woodboat.jpg');
 } 
 .projects .projects-item.p-3{
  background-image: url('./images/road.jpg');
 }
 .projects .projects-item.p-4{
  background-image: url('./images/cam.jpg');
 } 
 .projects .projects-item.p-5{
  background-image: url('./images/stone.jpg');
 } 
 .projects .projects-item.p-6{
  background-image: url('./images/compess.jpg');
 } 
 .projects .projects-item.p-7{
  background-image: url('./images/boat.jpg');
 } 
 .projects .projects-item.p-8{
  background-image: url('./images/view.jpg');
 } 
 .team{
  padding: 5rem 20vw;
  background-color: var(--background-color); 
} 
 .team >h3{
  color: var(--dark-grey-color);
  text-align: center;
  font-size: 1.75rem;
 }
 .team > p{
 color: var(--light-grey-color);
 line-height: 1.5rem;
 text-align: center;
 }
 .team .team-member-list-container{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 padding: 3rem 0;
 }
 .team .team-member-list-container .team-member-item{
  width: 20%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
 }
 .team .team-member-item .profile-picture{
  width: 100%;
  /* border-radius: 5px; */
  clip-path:polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  margin-bottom: 1rem; 
  overflow: hidden;
}
.team .team-member-item .profile-picture img{
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s ease-in-out;
}
.team .team-member-item .profile-picture img:hover{
  transform: scale(1.25rem);
}
 .team .team-member-item p{
  color: var(--light-grey-color);
  line-height: 1.5rem;
 }
 .team .team-member-item h5{
  color: var(--dark-grey-color);
  /* font-size: 1.25rem; */
 }
 .team .team-member-item .social-links{
  margin-top: 1rem;
  /* margin-right: 10px; */
  display: flex;
  align-items: center;
  /* gap: 0.75rem; */
 }
 .team .team-member-item .social-links span {
  background-color: var(--light-green-color);
  padding: 0.30rem;
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.125s ease-in-out;
  clip-path: polygon(0 25%, 0 75%, 50% 100%,100% 75%,100% 25%,50% 0%);
}
.team .team-member-item .social-links span:hover{
  background-color: var(--white-color);
  color: var(--light-green-color);
}
.about{
  display: flex;
  background-color: var(--white-color);

}
.about > img{
 width: 50%;
 flex-grow: 0;
 flex-shrink: 0;
 border-radius: 5px;
 filter: contrast(var(--image-contrast)) grayscale(var(--image-greyscale));

}
.about >.content{
  width: 50%;
  flex-grow: 0;
  padding-left: 3rem;
  flex-shrink:0; 
 
}
.about .content h3{
  color: var(--light-grey-color);
  font-size: 1.75rem;
}
.about .content p{
 color: var(--dark-grey-color);
 line-height: 1.5rem;
}
.about .content ul{
 color: var(--light-grey-color);
 list-style-type: none;
 padding: 0;
}
.about .content ul li::before{
  content: '\25a0';
  color: var(--dark-green-color);
  margin-right: 5px;
  font-size: 1.5rem;
}
.about .content .stats-list-container{
  padding: 1.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.about .content .stats-list-container .stat-item{
  width: 30%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.about .stat-item .number{
  color: var(--light-green-color);
  font-size: 2.5rem;
  font-weight: 700;
}
.contact{
  padding: 5rem 20vw;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact .content,.contact .form{
  width: 45%;
  flex-grow: 0;
  flex-shrink: 0;
}
.contact .content h3{
  color: var(--dark-grey-color);
  font-size: 1.75rem;
}
.contact .content h4{
  color: var(--dark-grey-color);
  font-size: 1.5rem;
}

.contact .content p{
  color: var(--light-grey-color);
  line-height: 1.5rem;
}
.contact .content p i{
  color: var(--light-green-color);
  margin: 0  0.5pxs;
}
.contact .content .contact-info-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
 
}
.contact .content .contact-info-container .contact-info-item{
  flex-shrink: 0;
  margin: 0%; 
  padding: 0;
  line-height: 0.1;
}
.contact .content .social-links-list-container{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.contact .social-links-list-container .social-links-item{
  background-color: var(--light-green-color);
  padding: 0.75rem;
  color: var(--white-color);
  transition: all 0.125s ease-in-out;
  cursor: pointer;
  clip-path: polygon(0 25%, 0 75%, 50% 100%,100% 75%,100% 25%,50% 0%);
}
.contact .social-links-list-container .social-links-item:hover{
  background-color: var(--white-color);
  color: var(--light-green-color);
}
.contact .form form{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 1rem;
}
.contact input, .contact textarea{
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--light-grey-border-color);
  background-color: var(--dark-grey-color);
}
.contact .form label{
  color: var(--light-grey-color);
  /* font-size: 1.25rem; */
  line-height: 1.25rem;
}
footer{
  padding: 5rem 20vw;
  background-color: var(--dark-green-color);
  color: var(--white-color);
}
footer .footer-list-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}
footer .footer-list-container .footer-item.wide{
  width: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}